<div style="margin: 0 auto; width: 656px;", class="ui header">
<%=form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
<font color="white" size= "5">
<label>Username:</label>
<input name=user[username] ><br>
<label>Password:</label>
<input type= "password" name=user[password] ><br>
<input type="submit" value="Sign In">
</font>
<% end %>
</font>
</div>
