<%=form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
<label>Username:</label>
<input name=user[username] ><br>
<label>Password:</label>
<input name=user[password] ><br>
<input type="submit" value="Sign In">

<% end %>
