<div style="margin: 0 auto; width: 656px;", class="ui header">
    <font color="white" size= "5">
<% @inappaccounts.each do |inappaccount|%>
<h1><%= inappaccount.user_id %></h1>
<h1><%= inappaccount.amount %></h1>
<% end %>
</font>
</div>
