<%= form_tag transfer_path do %>
<input type="hidden" name="_method" value="patch" />
<label>Transfer Amount: </label>
<input type="text" id="transfer_amount" name="[transfer][amount]">
<label>Transfer From:</label>
<%select_tag 'bank_accounts_id[]', options_for_select(BankAccount.map do |acct| %>
  <%= acct.where(user_id == current_user.id))%>
  <%end%>
<br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Submit Post">
<% end %>
